html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
  padding-top: 1px;
  margin-top: -1px;
  color: #35404A;
  background: #DCE1E6; }

nav {
  position: absolute;
  left: -20rem;
  width: 20rem;
  height: 100%;
  top: 0;
  background: #7f2203;
  transition: left 0.25s ease-in-out; }
  nav.active {
    left: 0; }
  nav a {
    width: calc(100% - 2rem);
    display: block;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    text-decoration: none;
    color: #DCE1E6;
    background: none;
    transition: background 0.25s ease-in-out; }
    nav a:hover {
      background: #E33C05; }

.main {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.25s ease-in-out;
  overflow: auto;
  display: flex;
  flex-flow: column; }
  .main.active {
    left: 20rem; }
  .main header {
    height: 3rem;
    background: #E33C05;
    color: #DCE1E6;
    overflow: hidden;
    display: block;
    flex: 0 0 auto; }
    .main header em {
      color: rgba(220, 225, 230, 0.7);
      font-style: normal; }
    .main header * {
      display: inline-block;
      vertical-align: top;
      margin: 0 0.5rem 0 0;
      height: 3rem;
      line-height: 3rem;
      font-size: 2rem; }
    .main header #menu-button {
      background: rgba(53, 64, 74, 0.3);
      transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
      color: #DCE1E6;
      width: 3rem;
      font-size: 3rem;
      text-align: center;
      cursor: pointer; }
      .main header #menu-button i {
        vertical-align: top;
        margin: 0; }
      .main header #menu-button:hover {
        background: #35404A;
        color: #DCE1E6; }
  .main .container {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row; }
  .main .div-half {
    padding: 10px;
    flex: 1 0 auto;
    display: flex; }
  .main .div-content {
    position: absolute;
    overflow-y: auto;
    flex: 1 1 auto; }
  .main .flex-container {
    margin: 0;
    display: flex;
    min-width: 0;
    flex-flow: column;
    align-items: stretch; }
    .main .flex-container i > * {
      height: 0; }
    .main .flex-container div {
      flex: 1 1 auto; }
    .main .flex-container button {
      display: inline;
      font-size: 1rem;
      flex-shrink: 0;
      align-self: flex-end;
      vertical-align: top;
      background: #0063C7;
      color: #DCE1E6;
      border: 2px solid #003061;
      border-width: 1px 1px 3px 1px;
      border-radius: 3px;
      transition: background 0.1s ease-in-out, border-width 0.1s ease-in-out; }
      .main .flex-container button:hover {
        background: #2e96ff;
        border-width: 1px 1px 4px 1px; }
      .main .flex-container button:active {
        border-width: 4px 1px 1px 1px;
        background: #00172e; }
      .main .flex-container button:focus {
        outline: none; }
    .main .flex-container h1, .main .flex-container h2, .main .flex-container h3 {
      flex: none; }
    .main .flex-container * {
      width: auto;
      align-self: stretch; }

canvas#game-preview {
  background: #a1aebc; }

/*# sourceMappingURL=main.css.map */
