// style colours. Try to use these as much as possible
$color-text:#35404A;
$color-bg:#DCE1E6;
$color-primary:#E33C05;
$color-primary-dark:darken($color-primary,20);
$color-secondary:#0063C7;
$color-secondary-dark:darken($color-secondary,20);

// measures
$measure-header-height:3rem;
$measure-nav-width:20rem;
$measure-navitem-height:3rem;

html,body {
    height:100%;
    margin:0;
    // stop pesky child elements from fiddling with layout.
    overflow:hidden;
    padding-top:1px;
    margin-top:-1px;
    color:$color-text;
    background:$color-bg;
}
nav {
    position:absolute;
    left:-$measure-nav-width;
    width:$measure-nav-width;
    height:100%;
    top:0;
    background:$color-primary-dark;
    transition:left 0.25s ease-in-out;

    &.active {
        left:0;
    }

    a {
        width:calc(100% - 2rem);
        display:block;
        height:$measure-navitem-height;
        line-height:$measure-navitem-height;
        padding:0 1rem;
        text-decoration:none;
        color:$color-bg;
        background:none;
        transition:background 0.25s ease-in-out;
        &:hover {
            background:$color-primary;
        }
    }
}

.main {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    transition:left 0.25s ease-in-out;
    overflow:auto;
    display:flex;
    flex-flow:column;

    &.active {
        left:$measure-nav-width;
    }

    header {
        height:$measure-header-height;
        background:$color-primary;
        color:$color-bg;
        overflow:hidden;
        display:block;
        flex:0 0 auto;

            em {
                color:rgba($color-bg,0.7);
                font-style:normal;
            }

             * {
                 display:inline-block;
                 vertical-align:top;
                 margin:0 0.5rem 0 0;
                 height:$measure-header-height;
                 line-height:$measure-header-height;
                 font-size:2rem;
             }

             #menu-button {
                 background:rgba($color-text,0.3);
                 transition:background 0.25s ease-in-out,
                 color 0.25s ease-in-out;
                 color:$color-bg;
                 width:$measure-header-height;
                 font-size:$measure-header-height;
                 text-align:center;
                 cursor:pointer;
                 i {
                     vertical-align:top;
                     margin:0;
                 }

                 &:hover {
                     background:$color-text;
                     color:$color-bg;
                 }
             }
         }

         .container {
             width:100%;
             flex:1 1 auto;
             display:flex;
             flex-flow:row;
         }

         .div-half {
             padding:10px;
             width:calc(50% - 20px);
             flex:0 0 auto;
             display:flex;
         }

         .div-content {
             overflow-y:auto;
             flex:1 1 auto;
         }

         .flex-container {
             margin:0;
             display:flex;
             min-width:0;
             flex-flow:column;
             align-items:stretch;
             i > * {
                 height:0;
             }
             div {
                 flex:1 1 auto;
             }
             button {
                 display:inline;
                 font-size:1rem;
                 flex-shrink:0;
                 align-self:flex-end;
                 vertical-align:top;
                 background:$color-secondary;
                 color:$color-bg;
                 border:2px solid $color-secondary-dark;
                 border-width:1px 1px 3px 1px;
                 border-radius:3px;
                 bottom:0px;
                 position:relative;
                 transition:background 0.1s ease-in-out, border-width 0.1s ease-in-out;

                 &:hover {
                     background:lighten($color-secondary,20);
                     border-width:1px 1px 4px 1px;
                     bottom:1px;
                 }

                 &:active {
                     border-width:4px 1px 1px 1px;
                     background:darken($color-secondary-dark,10);
                 }

                 &:focus {
                     outline:none;
                 }
             }
             h1,h2,h3 {
                 flex:0 0 auto;
             }
             * {
                 align-self:stretch;
             }
         }
     }

#game-container {
}

canvas#game-preview {
    background:darken($color-bg,20);
    display:block;
}

#codeEditor * {
    flex:none;
}
